* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b7c8c6;
}

.headerSection {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerSection1 {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 100px;
  font-weight: 900;
}

.loginSection,
.registerSection {
  width: 75%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title2 {
  font-size: 60px;
  margin: 10px 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

input {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
}

select {
  width: 350;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #787676;
}

.loginbtn {
  width: 350px;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

.para {
  font-size: 20px;
  font-weight: 600;
}

.item {
  display: flex;
  flex-direction: column;
}

.headerSection {
  padding: 2px;
}
.title {
  font-size: 500px;
  font-weight: 900;
}

.loginSection {
  padding: 5px;
}

a {
  text-decoration: none;
}

.mainSection {
  padding: 10px;
}

.profileSection {
  width: 30%;
  float: left;
  background-color: white;
  padding: 20px;
}

.groupSection {
  width: 60%;
  float: right;
  background-color: white;
  padding: 20px;
}

